* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.financing-banner {
    background: black;
    text-align: center;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 5;
    font-size: 14px;
    font-weight: bold;
}


.navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin-top: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}


.navbar a{
   color: white;
   text-decoration: none;
   padding: 15px;
   display: block;
   text-align: center;
}

.navbar li {
    float: left;
}

.left {
  display: flex;
  justify-content: left;
  margin-top: 2%;
  margin-bottom: 10%;
}

.left-paragraph {
  display: flex;
  justify-content: left;
  width: 50%;
}

.header1 {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

h1 {
  width: 50%;
  font-size: 30px;
}

.paragraph-1 {
  display: flex;
  justify-content: center;
}

.paragraph-1 p {
  width: 50%;
}

.paragraph-2 {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.paragraph-2 p {
  width: 50%;
}

.paragraph-3 {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.paragraph-3 p {
  width: 50%;
}

.image1 {
   justify-content: center;
   display: flex;
   
}

.plumber1 img{
    width: 600px;
}

.right-paragraph {
  justify-content: right;
  display: flex;
}

.map {
  justify-content: right;
  display: flex;
}

.map img{
   width: 350px;
}

.column {
    flex: 50%;
  }

.row {
  display: flex;
}


main{
    margin-left: 20px;
    margin-right: 20px;
}

/* CSS */

.buttons {
    justify-content: center;
    display: flex;
    padding: 10px 10px;
    margin-top: 10%;
}

.button-6 {
  align-items: center;
  background-color: lightblue;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.header2 {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.divider-1 {
  display: flex;
  justify-content: center;
  margin-right: 5%;
}

.divider{
  width: 700px;
  height: 2px;
  border: 0 none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 90px;
  background-color: black;
  display: inline-block;
}

.container {
  padding: 2rem;
  margin-top: 3%;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

.header3 {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.footer {
  background-color: #111;
}

.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}

.footerNav {
  margin: 30px 0;
}

.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.footerBottom p {
  color: white;
}

.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0pxm 5px;
}


@media (max-width: 700px) {
      .footerNav ul {
        flex-direction: column;
      }

      .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
      }
}




