* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.financing-banner {
    background: black;
    text-align: center;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 5;
    font-size: 14px;
    font-weight: bold;
}


.navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin-top: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}


.navbar a{
   color: white;
   text-decoration: none;
   padding: 15px;
   display: block;
   text-align: center;
}

.navbar li {
    float: left;
}

.left {
  display: flex;
  justify-content: left;
  margin-top: 2%;
  margin-bottom: 10%;
}

.left-paragraph {
  display: flex;
  justify-content: left;
  width: 50%;
}

.header1 {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

h1 {
  width: 50%;
  font-size: 30px;
}

.paragraph-1 {
  display: flex;
  justify-content: center;
}

.paragraph-1 p {
  width: 50%;
}

.paragraph-2 {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.paragraph-2 p {
  width: 50%;
}

.paragraph-3 {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.paragraph-3 p {
  width: 50%;
}

.image1 {
   justify-content: center;
   display: flex;
   
}

.plumber1 img{
    width: 600px;
}

.right-paragraph {
  justify-content: right;
  display: flex;
}

.map {
  justify-content: right;
  display: flex;
}

.map img{
   width: 350px;
}

.column {
    float: left;
    width: 50%;
  }

.row:after {
  content: "";
  display: table;
  clear: both;
}


main{
    margin-left: 20px;
    margin-right: 20px;
}

/* CSS */

.buttons {
    justify-content: center;
    display: flex;
    padding: 10px 10px;
    margin-top: 10%;
}

.button-6 {
  align-items: center;
  background-color: lightblue;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.header2 {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.divider-1 {
  display: flex;
  justify-content: center;
  margin-right: 5%;
}

.divider{
  width: 700px;
  height: 2px;
  border: 0 none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 90px;
  background-color: black;
  display: inline-block;
}


